.mahsulot-rasmlar{
  display: grid;
}

.imgi1{
  width: 791px;
  height: 290px;
}
.imgi2{
  width: 791px;
  height: 154px;
}

.img3{
  width: 791px;
  height: 389px;
}

.img4{
  width: 791px;
  height: 154px;
}

.img5{
  width: 791px;
  height: 389px;
}

.img6{
  width: 791px;
  height: 349px;
}

.img7{
  width: 791px;
  height: 249px;
}

.img8{
  width: 791px;
  height: 385px;
}

.img9{
  width: 791px;
  height: 394px;
}

.img10{
  width: 791px;
  height: 406px;
}

.img11{
  width: 791px;
  height: 400px;
}

.img12{
  width: 791px;
  height: 406px;
}

.img13{
  width: 791px;
  height: 394px;
}

.img14{
  width: 791px;
  height: 400px;
}

.img011{
  display: grid;
}
 .img011 > .redmi2 {
  margin-top: -8rem;
 }

 .redmi02{
  margin-top: -8rem;
 }

 #redmi3{
  margin-top: -10.7rem;
 }